.root {
	position: relative;
	width: 350px;
	height: 350px;
}
.container {
	opacity: 1;
	transition: opacity 0.5s;
}

.scrollContainer {
	width: 350px;
	height: 350px;
	background: #282828;
	border: solid 5px #E2D7C7;
}

.hieroglyphs {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 20px;
	width: 900px;
	justify-content: space-between;
}

.woman {
	will-change: transform;
}
