.root {
	background: rgb(250, 250, 250)
}

.content {
	width: 600px;
	margin: 0 auto;
	padding: 32px 24px;
	max-width: 100%;
}
.title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 24px;
}

.caption {

}
