* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;

  align-items: center;
  justify-content: center;
}

body, html {
  height: 100%;
  width: 100%;
}

.centered-block {
  position: relative;
}
.centered-block__man {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.scroll-container {
  height: 145px;
  width: 430px;
  background: #282828;
  border: solid 5px #E2D7C7; 
  overflow: hidden;
}

.hieroglyphs {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 900px;
  justify-content: space-between;
}

.hieroglyph {
  user-select: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

.hieroglyph--hidden {
    opacity: 0.2;
}
