.indiana-scroll-container {
  overflow: auto;
	cursor: grab;
  &--hide-scrollbars {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none !important;
      height: 0 !important;
      width: 0 !important;
      background: transparent !important;
      -webkit-appearance: none !important;
    }
  }
}
