.indiana-scroll-container {
  overflow: auto;
  &--dragging {
    scroll-behavior: auto !important;
    > * {
      pointer-events: none;
      cursor: grab;
    }
  }
  &--hide-scrollbars {
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none !important;
      height: 0 !important;
      width: 0 !important;
      background: transparent !important;
      -webkit-appearance: none !important;
    }
  }
  &--native-scroll {
    overflow: auto;
  }
}

.indiana-dragging {
  cursor: grab !important;
}
